*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Krub', sans-serif;
  --main-color: rgba(0, 154, 67, 1)
}
*, ::after, ::before {
  box-sizing: initial !important;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0px;
  width: 100%;
  height: 100vh;
}